@page
@model BaberManager.Frontend.BarberoModel
@{
<<<<<<< HEAD
    ViewData["Title"] = "Listado Barberos";
}
<div class="container border-secondary rounded-25">
    <div class="row">
        <div class="col-md-2 col-sm-12"></div>
        <div class="col-md-8 col-sm-12">
            <h2>Listado de barberos</h2>
            <table class="table" id="tableData">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>TipoDocumento</th>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Barbero</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var barbero in Model.listaBarberos)
                    {
                        if(barbero.Usuario==null){continue;};
                        <tr>
                            <td>@barbero.Id</td>
                            <td>@barbero.TipoDocumento</td>
                            <td>@barbero.Documento</td>
                            <td>@barbero.Nombre</td>
                            <td>@barbero.Telefono</td>
                            <td>@barbero.Correo</td>
                            <td>Barbero</td>
                            <td> <a class="btn btn-primary" id="btnEditar" data-toggle="tooltip" data-pacement="top"
                                title="Editar un Barbero">
                                    <i class="far fa-edit"> Editar </i></a>
                                <a class="btn btn-secondary" id="btnEliminar" data-toggle="tooltip" data-pacement="top"
                                title="Eliminar una persona">
                                    <i class="far fa-trash-alt"> Eliminar </i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" id="btnModal"> Agregar Barbero </button>
        </div>
        <div class="col-md-2 col-sm-12"></div>
    </div>
</div>


<!-- Modal Registrar-->
<div class="modal" id="modalRegistrar" tabindex="-1" role="dialog">
    <div class=" modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"></div>
                <h5 class="modal-title" id="modalRegistrarLabel">Registro de %</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulacion creacion -->
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Editar-->
<div class="modal" id="modalEditar" tabindex="-1" role="dialog">
    <div class=" modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRegistrarLabel">Edición de Barbero</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Eliminar-->
<div class="modal" id="modalEliminar" tabindex="-1" role="dialog">
    <div class=" modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Eliminar Barbero</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> ¿Desea eliminar el Barbero? </p>
                <input type="hidden" name="idEliminar" id="idEliminar">
            </div>
            <div class="modal-footer">
                <button type="button" id="btnEliminarSi" class="btn btn-primary">Si</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
=======
    ViewData["Title"] = "Listado Barberos" ;

/*<div class="v-container" >
    <div id="titulo-listado">

    <h1 id="regis">Listado de Barberos</h1>
    </div>
</div>
*/
}
<div class="v-container">
    <div class="container border-secondary rounded-25">
        <div class="row">
            <div class="col-md-2 col-sm-12"></div>
            <div class="col-md-8 col-sm-12">
                <h2>Listado de Barberos</h2>
                <table class="table" id="tableBarberos">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tipo Documento</th>
                            <th>Documento</th>
                            <th>Nombre</th>
                            <th>Teléfono</th>
                            <th>Correo</th>
                            <th>UsuarioId</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Barbero in Model.listaBarberos)
                        {
                            <tr>
                                <td>@Barbero.Id</td>
                                <td>@Barbero.TipoDocumento</td>
                                <td>@Barbero.Documento</td>
                                <td>@Barbero.Nombre</td>
                                <td>@Barbero.Telefono</td>
                                <td>@Barbero.Correo</td>
                                <td>@Barbero.Usuario.Id</td>
                                
                                

                                <td> <a asp-page="../Barbero/Barbero" asp-route-Id="@Barbero.Id" class="btn btn-primary" id="EditarBarbero" data-toggle="tooltip" data-pacement="top"
                                title="Editar un Barbero">
                                        <em class="far fa-edit"> Editar</em></a>
                                    <a asp-page="../Barbero/Barberor" asp-route-Id="@Barbero.Id" class="btn btn-secondary" id="eliminarBarbero" data-toggle="tooltip"
                                data-pacement="top" title="Eliminar un Barbero">
                                        <em class="far fa-trash-alt"> Eliminar</em></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <form action="./BarberoCrear">
                    <button type="submit" class="btn btn-primary">Crear Barbero</button>
                </form>
            </div>
            <div class="col-md-2 col-sm-12"></div>
        </div>

    </div>
</div>
>>>>>>> 8e94cc36d7f4fb9060da95b3f547ea36a644931b
